<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reservation Management System</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.4/jquery.js}"></script>
</head>
<style>
    .user-container{
        margin-top: 60px;
    }
    .user-page{
        margin-left: 27px;
    }

</style>
<body>
<div th:replace="~{commons/bars::navbar}"></div>
    <div class="pageContainer">
        <div th:replace="~{commons/bars::sidebar}"></div>
        <div class="splitter"></div>
        <div class="pageContent">
            <div class="container user-container" >
            <div class="row clearfix ">
                <div class="col-md-12 column table-pos " >
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>
                                    USER_ID
                                </th>
                                <th>
                                    USER_NAME
                                </th>
                                <th>
                                    USER_EMAIL
                                </th>
                                <th>
                                    USER_TYPE
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${users}">
                            <td th:text="${user.getUserID()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${user.getUserType()}==1?'admin':'customer'"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
    </div>
            <div class="page-pos user-page">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"  th:class="${currentPage==1}?'disabled'">
                            <a class="page-link" th:href="@{/users(page=${currentPage}-1,size=${size})}" aria-label="Previous">
                                <span aria-hidden="true" >&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="index:${totalPage}">
                            <a class="page-link" th:href="@{/users(page=${index},size=${size})}"
                               th:class="${index==(pageInfo.getPageable().getPageNumber() + 1)} ? active"
                               th:text="${index}"></a>
                        </li>
                        <li class="page-item" th:class="${currentPage==pageInfo.getTotalPages()}?'disabled'">
                            <a class="page-link" th:href="@{/users(page=${currentPage}+1,size=${size})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
<div th:replace="~{commons/bars::footer}"></div>
  
</body>
</html>